@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  font-family: "Inter", sans-serif;
  font-family: "Public Sans", sans-serif;
}

.text-select {
  background: var(
    --gradient-2,
    linear-gradient(90deg, #00b4ec 0%, #b5c876 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  position: absolute;
}

.scroll-sidebar:hover::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.2);
}

.scroll-sidebar::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

.mantine-InputWrapper-label {
  overflow: hidden;
  color: #292D32;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}